<dl class="dl-horizontal bg-success">
    <dt>Facet label:</dt>
    <dd>{{ facet.name }}</dd>
    <dt># facet keys:</dt>
    <dd>{{ view.num_keys }}</dd>
    <dt>Total counts:</dt>
    <dd>{{ view.count_total }}</dd>
</dl>

{% if facet.name == "creationdate" %}
<div id='chart'>
  <svg style='height:500px'> </svg>
</div>

<script type='text/javascript'>
    nv.addGraph(function() {
      var chart = nv.models.discreteBarChart()
          .x(function(d) { return d.label })    //Specify the data accessors.
          .y(function(d) { return d.value })
          .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
          .tooltips(false)        //Don't show tooltips
          .showValues(true);       //...instead, show the bar value right on top of each bar.


      d3.select('#chart svg')
          .datum([
              {
                  key   :   "{{ query.query }}",
                  values    :   [
                    {% for kv in view.key_sorted_top10 %}
                        {
                            "label" :   "{{ kv.key }}",
                            "value" :   "{{ kv.count }}"
                        },
                    {% endfor %}
                  ]
              }
          ]
          )
          .call(chart);

      nv.utils.windowResize(chart.update);

      return chart;
    });
</script>


<table class="table table-condensed">
    <tr>
        <th>Key</th>
        <th>Count</th>
    </tr>
    {% for kv in view.key_sorted_top10 %}
        <tr>
            <td>{{ kv.key }}</td>
            <td>{{ kv.count }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}

    <div id='chart'>
      <svg style='height:500px'> </svg>
    </div>

    <script type='text/javascript'>
        nv.addGraph(function() {
          var chart = nv.models.pieChart()
              .x(function(d) { return d.label })
              .y(function(d) { return d.value })
              .showLabels(true);

            d3.select("#chart svg")
                .datum([
                    {% for kv in view.value_sorted|slice:":10" %}
                        {
                            "label" :   "{{ kv.key }}",
                            "value" :   "{{ kv.count }}"
                        },
                    {% endfor %}
                ])
                .transition().duration(350)
                .call(chart);

          return chart;
        });
    </script>



<table class="table table-condensed">
    <tr>
        <th>Key</th>
        <th>Count</th>
    </tr>
    {% for kv in view.value_sorted|slice:":10" %}
        <tr>
            <td>{{ kv.key }}</td>
            <td>{{ kv.count }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}