<div id='chart'>
  <svg style='height:500px'> </svg>
</div>

<script type='text/javascript'>
    nv.addGraph(function() {
      var chart = nv.models.discreteBarChart()
          .x(function(d) { return d.label })    //Specify the data accessors.
          .y(function(d) { return d.value })
          .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
          .tooltips(false)        //Don't show tooltips
          .showValues(true);       //...instead, show the bar value right on top of each bar.


      d3.select('#chart svg')
          .datum([
              {
                  key   :   "{{ query.query }}",
                  values    :   {{ view.max_coverage | safe }}
              }
          ]
          )
          .call(chart);

      nv.utils.windowResize(chart.update);

      return chart;
    });
</script>