{% extends "base.html" %}

{% block content %}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Query</th>
        <th>Facets</th>
        <th>Num results</th>
    </tr>
    {% for o in object_list %}
    <tr>
        <td><a href="{% url "render" o.pk %}">{{ o.pk }}</a></td>
        <td>{{ o.query }}</td>
        <td>
            {% if o.facet_pairs %}
                {% for fp in o.facet_pairs %}
                    <strong>{{ fp.0 }}</strong>: {{ fp.1 }}
                    <br>
                {% endfor %}
            {% else %}
                N/A
            {% endif %}
        </td>
        <td>{{  o.total_hits }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}