{% extends "base.html" %}

{% block content %}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Query</th>
        <th>Facets</th>
        <th>Num results</th>
    </tr>
    {% for o in object_list %}
    <tr>
        <td><a href="{% url "render" o.pk %}">{{ o.pk }}</a></td>
        <td>{{ o.query }}</td>
        <td>
            {% if o.facet_pairs %}
                <dl>
                {% for fp in o.facet_pairs %}
                    <dt>{{ fp.0 }}</dt>
                    <dd>{{ fp.1 }}</dd>
                {% endfor %}
                </dl>
            {% else %}
                <span class="text-muted">N/A</span>
            {% endif %}
        </td>
        <td>{{  o.total_hits }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}