{% extends "base.html" %}

{% block content %}

    <h3>Chosen facet: <span id="chosen_name"></span></h3>

    <div id="facet">
        <svg id="svg0" style="height:500px"></svg>
        <svg id="svg1" style="height:500px"></svg>
    </div>

    <script type="application/javascript">
        var total_hits = {{ object.total_hits }}
        var facets_data = {{ view.facets_data | safe  }};

        $(document).ready(function() {

            var ranked_facets = facetVis.rank_facets(facets_data,total_hits);
            console.log(ranked_facets);
            var chosen_facet = ranked_facets[0];

            $("#chosen_name").text(chosen_facet);
            facetVis.render_facet(chosen_facet,facets_data[chosen_facet],"#svg0");
            facetVis.render_facet(chosen_facet,facets_data[ranked_facets[1]],"#svg1");
        })

    </script>

    <a href="{% url "query" object.pk %}">Back to overview</a>

{% endblock %}