{% extends "base.html" %}

{% block content %}

<div class="row bg-info">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>Query submitted:</dt>
            <dd>{{ object.query   }}</dd>
            <dt># results:</dt>
            <dd>{{ object.total_hits }}</dd>
        </dl>
    </div>
    <div class="col-md-5">
        <dl class="dl-horizontal">
            {% if object.facet_pairs %}
                <dt>Facets:</dt>
                <dd>
                    {% for fp in object.facet_pairs %}
                        {{ fp.0 }}<span class="text-muted"> / </span>{{ fp.1 }}<br>
                    {% endfor %}
                </dd>
            {% endif %}
        </dl>
    </div>
    <div class="col-md-3">
        {% if object.clean_query %}
            <br>
        <a type="button" class="btn btn-default btn-sm center-block" href="{% url 'render' object.clean_query.pk %}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove facets
        </a>
        {% endif %}
    </div>
</div>
    <hr>
<div class="row">
    <div class="col-md-3">
        <div class="panel-group" id="facet_list" role="tablist" aria-multiselectable="true">
        </div>
    </div>
    <div class="col-md-9">
    <div id="facets"></div>

{#    <a href="{% url "query" object.pk %}">Back to overview</a>#}
    </div>
</div>
<script type="application/javascript">
    var total_hits = {{ object.total_hits }};
    var facets_data = {{ view.facets_data | safe  }};

    $(function() {
        var ranks = facetVis.rank_facets(facets_data,total_hits);
        ranks = _.difference(ranks,unused_facets);

        render_facet_list(ranks,facets_data);
        facetVis.render_facets(facets_data,2,"#facets",ranks);
    });

    function render_facet_list(facets,facets_data) {
      facets.forEach(function(f_name) {
        var header_id = f_name + "header",
            content_id = f_name + "collapse",
            panel = $('<div class="panel panel-default">').appendTo("#facet_list");

        panel.append($('<div class="panel-heading" role="tab" id=' + header_id + '">')
                .append($('<h4 class="panel-title">')
                .append($('<a role="button" data-toggle="collapse" data-parent="#facet_list" href="#' +
                        content_id + '" aria-expanded="false" aria-controls="'+content_id+'">' +
                        facet_pretty_names[f_name] + '    <span class="badge">' +
                        facets_data[f_name].length + '</span> </a>'))));

        var pbody = $('<div class="panel-body">');
        panel.append($('<div id="' + content_id +
                '" class="panel-collapse collapse" role="tabpanel" aria-labelledby="' + header_id + '">')
                .append(pbody));

        var plist = $('<ul class="list-unstyled">').appendTo(pbody);
        facets_data[f_name].forEach(function(d) {
            plist.append('<li><a href="' + d.render_link + '">' + d.label + '</a>    <span class="badge">'+
                    d.value+'</span></li>')
            });
        })
    }


</script>

{#    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">#}
{#      <div class="panel-body">#}
{#        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.#}
{#      </div>#}
{#    </div>#}
{#  </div>#}

{% endblock %}