<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}

<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block includes %}
    {% endblock %}
</head>
<body>
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{% url "add_query" %}">Facet Browse</a></li>
        <li role="presentation"><a href="{% url "list_queries" %}">Cached Queries</a></li>
    </ul>

    <hr/>

    {% block content %}
        CONTENT GOES HERE
    {% endblock %}

</div>

</body>
</html>

